<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-primary" (click)="onSelectProp({}, true)">Add new property</button>
          <button type="button" class="btn btn-success" (click)="onFormSubmit(form)">Save form</button>
          <hr>
          <div *ngIf="form">
            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action" *ngFor="let prop of form.items" (click)="onSelectProp(prop, false)">{{prop.key}}</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-7">
      <app-forms-item [model]="selectedProp" [type]="selectedType" (removeItem)="onRemoved($event)" (newItem)="onAdded($event)"></app-forms-item>
    </div>
  </div>
</div>