<div *ngIf="formId">
    <h3>{{form?.name}}</h3>
    <hr>
    <button mat-raised-button (click)="openRecordDialog()" style="margin: 5px"> Add new record </button>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" style="width:100%">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns | slice:0:-1">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button matTooltip="Edit selected record" (click)="onEdit(element._id)" color="accent">Edit</button>
                <button mat-raised-button matTooltip="Instantly deletes record" (click)="onDelete(element._id)" color="warn">Delete</button>
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>