<div *ngIf="model" fxFlex fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" [fxLayout]="direction">
  <div fxFlex fxLayout.md="row">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
          <button *ngIf="type" type="submit" mat-flat-button color="primary" [disabled]="!form.valid" class="submit-button">Attach</button>
          <button *ngIf="!type" type="button" mat-flat-button color="warn" (click)="onPropRemove()">Remove</button>
        </formly-form>
      </form>
    </mat-card>
  </div>
  <div *ngIf="model.type === 'select'" fxFlex fxLayout.md="row">
    <mat-card>
      <h6>Options</h6>
      <hr>
      <div>
        <mat-form-field>
          <input #optionTitle matInput placeholder="Option title" value="">
        </mat-form-field>
        <button (click)="addOption(optionTitle.value); optionTitle.value=''" mat-mini-fab color="primary">Add</button>
      </div>
      <mat-nav-list *ngIf="model.templateOptions.hasOwnProperty('options')" dense>
        <mat-list-item *ngFor="let item of model.templateOptions.options"> {{item.label}}
          <div fxLayout="row" fxLayoutAlign="end none"><button mat-mini-fab color="warn" (click)="removeOption(item.value)"><mat-icon>delete_forever</mat-icon></button></div>
        </mat-list-item>

      </mat-nav-list>
    </mat-card>

  </div>
</div>