<div *ngIf="model" div fxLayout="row" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start center">
  <mat-card>
    <mat-list role="list">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
          <button *ngIf="type" type="submit" mat-flat-button color="primary" [disabled]="!form.valid" class="submit-button">Attach
            to form</button>

          <button *ngIf="!type" type="submit" mat-flat-button color="primary" [disabled]="!form.valid" class="submit-button">Update</button>
          <button *ngIf="!type" type="button" mat-flat-button color="warn" (click)="onPropRemove()">Remove</button>
        </formly-form>
      </form>
    </mat-list>
  </mat-card>
  <mat-card *ngIf="model.type === 'select'">
    <h1 class="display-4">Options</h1>
    <div>
      <mat-form-field>
        <input #optionTitle matInput placeholder="Option title" value="">
        <button mat-button matSuffix mat-icon-button (click)="addOption(optionTitle.value); optionTitle.value=''" aria-label="Add">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>

    </div>
    <mat-nav-list *ngIf="model.templateOptions.hasOwnProperty('options')" dense>
      <mat-list-item *ngFor="let item of model.templateOptions.options">
        <button mat-icon-button (click)="removeOption(item.value)">
          <mat-icon>cancel</mat-icon>
        </button>{{item.label}}
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>